.section-search{
    padding: 40px 0;
    form input.search-field{
        background: #dedede;
    }
    .serach-4040{
        margin-bottom: 40px;
    }
    .img-result img{
        min-height: 222px;
        margin: 0;
    }
    .content-post{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
    }
}